*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    font-family: "Edu Tas Beginner", sans-serif;

}


#wrapper{
    margin: 0 auto;
    width: calc(100vw - 20%);      
}


header{
    display: flex;
    height: 25%;
    justify-content: center;
    align-items: center;
    background-image: url(../img/wall.png);
}

#title-box{

    font-size: large;
}

#container{
    width: 100%;
    margin: 0 auto;
    background-image: url(../img/cork.png);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}


.card{
    flex-basis: 260px;
    background-color: white;
    margin: 30px;
    text-align: left;
    position: relative;
    
    /* DEBUG */
    /* height: 170px; */
}

.img-box{
    max-width: 100%;
    position: relative;
    padding: 10px;


}

.img-box img{
    max-width: 100%;
    background-position: center;

}

.pin{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    z-index: 99;
}

.caption{
    padding-top: 10px;
    padding-bottom: 10 px;
    padding-left: 10px;
}

.data{
    font-size: small;
}

.title{
    font-size: large;
    padding-bottom: 10px;
}

/* OVERLAY RULES */

#overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    text-align: center;
}

#overlay-button{
    background-color: darkgray;
    width: 100px;
    font-size: 20px;
    margin-top: 100px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

#main-img{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%);
}

#main-img img{
    width: 50%;
}


/* SOLUZIONE RESPONSIVE */
/* Tablet rules */

@media screen and (max-width: 768px){

    .card{
        width: 40%;
    }
}
/* Mobile rules */
@media screen and (max-width: 480px) {
    
    .card{
        width: 90%;
    }
}